.App {
  text-align: center;
}
html {
  font-size: 62.65%;
}
body::-webkit-scrollbar-thumb {
  background-color: #0077ff;
}
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-track {
  background-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
}
.hasInterest {
  box-shadow: 0px 5px 9px -2px #2d2d2d;
  transform: scale(1.05);
  background-color: #0077ff !important;
  color: #fff;
}
.noSticky {
  position: relative;
}
.sticky {
  position: fixed;
}
.minimize {
  max-height: 40px !important;
  max-width: 200px !important;
}